@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Consolas', Helvetica, Arial, sans-serif;
}

.loop-opacity {
    opacity: 0;
    animation: FadeInAndOut 1s  infinite;
}

@keyframes FadeInAndOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


.empty-block {
    height: 110px;
}

.image-limited-width {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 300px;
    min-width: 200px;
}

.main-color {
    color: RGB(108,218,163);
}


.clickable-1 {
    background: url(https://media.giphy.com/media/ToMjGpFdluLyF8C732g/giphy.gif);
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
    color: RGB(108,218,163);
    transition: ease-in-out 0.2s;
}

    .clickable-1:hover {
        color: transparent;
        transition: ease-in-out 0.2s;
    }


.clickable-2 {
    text-shadow: none;
    transition: ease-in-out 0.5s;
}

    .clickable-2:hover {
        color: white;
        text-shadow: 4px 4px RGBA(108,218,163, 0.5);
        transform: translateY(-5%);
        transition: ease-in-out 0.5s;
    }

.clickable-3 {
    background: url(https://media.giphy.com/media/nIlgTxY29wJuU/giphy.gif);
    background-size: 50%;
    background-position: center;
    -webkit-background-clip: text;
    color: transparent;
    transform: scale(1);
    transition: ease-in-out 0.2s;
}

    .clickable-3:hover {
        transform: scale(1.1);
        transform: translateY(-5%);
        text-shadow: 4px 4px RGBA(108,218,163, 0.5);
        transition: ease-in-out 0.2s;
    }

.scale-up {
    transform: scale(1);
    transition: ease-in 0.1s;
}
    .scale-up:hover {
        transform: scale(1.1);
        transition: ease-in 0.1s;
    }

.secondary-color {
    color: RGB(0,0,0);
}

    .secondary-clickable:hover {
        color: red;
    }


.white-text {
    color: white;
}

.special-text {
    border-bottom: 1px dashed;
    padding-bottom: 1px;
    font-weight: bolder;
}

.main-billboard {
    font-size: calc(4vw + 3vh);
}

.main-background-color {
    background-color: RGB(0,0,0);
}

.secondary-background-color {
    background-color: RGB(108,218,163);
}


.main-outline {
    outline: none;
}

.main-outline:focus {
    outline:none;
}

.main-outline:active {
    outline:none;
}

.top-margin-medium {
    margin-top: 10vh;
}

.top-margin-large {
    margin-top: 30vh;
}

.bottom-margin-large {
    margin-bottom: 30vh;
}

.main-selected-element {
    text-decoration: underline;
}
    .main-selected-element:focus {
        text-decoration: underline;
    }

.main-icon-animation:hover {
    animation: ZoomInAndOut 1s infinite;
}


@keyframes ZoomInAndOut {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

@media (min-width: 768px) {

    .navbar-toggler {
        display: none;
    }
}


#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}


/*------------------*/
/*-- CUSTOM ITEMS --*/
/*------------------*/

/* CORES GUARDADAS */
/* RGB(108,218,163) */
/* RGB(0, 255, 221) */


/* -------------------- VIEWPORT ANIMATION -------------------- */
/* Animatable signaling classes -> this classes will signal that an element is animated when entering the viewport (done with js)*/

.vp-anim-1 {
    visibility: hidden;
}
.vp-anim-2 {
    visibility: hidden;
}
.vp-anim-3 {
    visibility: hidden;
}
.vp-anim-4 {
    visibility: hidden;
}
.vp-anim-5 {
    visibility: hidden;
}

/* Animation Classes */

.fade-in-with-left-translate {
    visibility: visible;
    animation: FadeIn 1s, LeftTranslate 1s;
}

.fade-in-with-right-translate {
    visibility: visible;
    animation: FadeIn 1s, RightTranslate 1s;
}

.fade-in-with-top-translate {
    visibility: visible;
    animation: FadeIn 1s, TopTranslate 2s;
}

.fade-in-with-bottom-translate {
    visibility: visible;
    animation: FadeIn 1s, BottomTranslate 2s;
}

.fade-in-slow {
    visibility: visible;
    animation: FadeIn ease-in 1.5s;
}

/* Animations */

@keyframes FadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes LeftTranslate {
    0% {
        transform: translateX(-5%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes RightTranslate {
    0% {
        transform: translateX(30%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes TopTranslate {
    0% {
        transform: translateY(-30%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes BottomTranslate {
    0% {
        transform: translateY(30%);
    }

    100% {
        transform: translateY(0%);
    }
}
