@page "/work/article2"

<h3>Article2</h3>

@code {
    readonly string _displayTitle = "ARTICLE 2";
    readonly string _displayImage = "COUNTER IMAGE";
    readonly string _displayDescription = "ALSO COOL!";
    readonly string _displayPublishDate = "12/12/12";
    readonly string _displayTags = "Tag1,Tag4";
}
