<ContentCard Content="SectionGroupInfo.Introduction" />

<div class="overflow-hidden">
    @foreach (var section in SectionGroupInfo.Sections)
    {
        <SectionRow Section="section" />
    }
</div>

@code {
    [Parameter]
	public SectionGroupInfoModel SectionGroupInfo { get; set; }
}


@* TODO: add null cheks EVERYWHERE *@