@inherits LayoutComponentBase


<body class="main-background-color">
    <NavMenu />

    <div class="container-fluid" style="padding-top: 100px; padding-bottom:50px; margin-bottom:100px">
        @Body
    </div>

    <PlayFloatingButton />
</body>

<footer class="secondary-background-color pt-5 pb-5">
    <div class="secondary-color container vp-anim-3">
        <p class="text-center">Visit the YouTube channel:</p>
        <a style="display:block; text-align:center" href="https://www.youtube.com/channel/UCLVl164JV2ME7ZgzqsPk9NA" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube  main-icon-animation secondary-color"></i></a>
    </div>
</footer>

