@inherits LayoutComponentBase

<body class="main-background-color m-0 p-0">
    <NavMenu />

    <div class="container-fluid body-display">
        @Body
    </div>

    <PlayFloatingButton />
</body>

@code{

    protected override Task OnParametersSetAsync()
    {
        return base.OnParametersSetAsync();
    }
}

