@inherits LayoutComponentBase

@inject IJSRuntime JSRuntime;
@inject IJavascriptViewportAnimator JSAnimator;
@inject IConfiguration config;

<body class="main-background-color m-0 p-0">
    <NavMenu />

    <div class="container-fluid body-display">
        @Body
    </div>

    <PlayFloatingButton />
</body>

<footer class="secondary-background-color pt-5 pb-5">
    <div class="secondary-color vp-anim-3">
        <p class="text-center">Visit the YouTube channel:</p>
        <a class="center-button" href="@config["youtubeLink"]"
           target="_blank" rel="noopener noreferrer">
                <i class="fab fa-youtube  main-icon-animation secondary-color" style="font-size: 1.8em"></i>
        </a>
    </div>
</footer>

@code{        
    
    protected override Task OnParametersSetAsync()
    {
        return base.OnParametersSetAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSAnimator.SetupJavascriptViewportAnimation(JSRuntime);
    }

}

