@inherits LayoutComponentBase

@inject IJSRuntime JSRuntime;
@inject IJavascriptViewportAnimator JSAnimator;

<body class="main-background-color m-0 p-0">
    <NavMenu />

    <div class="container-fluid body-display">
        @Body
    </div>

    <PlayFloatingButton />
</body>

<footer class="secondary-background-color pt-5 pb-5">
    <div class="secondary-color vp-anim-3">
        <p class="text-center">Visit the YouTube channel:</p>
        <a style="display:block; text-align:center" href="https://www.youtube.com/channel/UCLVl164JV2ME7ZgzqsPk9NA" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube  main-icon-animation secondary-color"></i></a>
    </div>
</footer>

@code{
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSAnimator.SetupJavascriptViewportAnimation(JSRuntime);
    }
    
}

