@inject INavigationController _navigationController
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime;


<nav class="navbar main-background-color navbar-expand-md fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand main-color clickable-1 scale-up vp-anim-1" href="/" @onclick="() => { CollapseNavMenu(); }">
            <span class="white-text">[</span>
            If Coding Return Happy
            <span class="white-text">]</span>
        </a> <!-- alterar isto para navlink async-->

        <button class="navbar-toggler main-outline border-0 fade-in-with-right-translate" @onclick="ToggleNavMenu" type="button">
            <span class="fas @NavMenuIcon infinite-zoom-in-out main-color"></span>
        </button>

        <div class="flex-md-row-reverse fullscreen-menu @(NavMenuVisibility)" id="main-navbar">
            <ul class="navbar-nav fullscreen-menu-content" id="main-navbar-content">
                @foreach (var navElement in _navigationController.NavigationLinks)
                {
                    <li class="nav-item vp-anim-3">
                        <a class="nav-link main-color clickable-2 selectable-item"
                           href="@navElement.LinkRef"
                           @onclick="() => { CollapseNavMenu(); }">@(navElement.LinkText)</a>

                    </li>
                }
            </ul>
        </div>
    </div>
</nav>


@code {
    public bool isNavMenuCollapsed { get; set; } = true;
    string NavMenuVisibility => isNavMenuCollapsed ? "" : "wipe-down";
    string NavMenuIcon => isNavMenuCollapsed ? "fa-bars" : "fa-times-circle";


    protected override Task OnInitializedAsync()
    {
        _navigationController.InitializeLinks();

        return base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("updateCurrentPageIndicator");
    }


    void ToggleNavMenu()
    {
        isNavMenuCollapsed = !isNavMenuCollapsed;
    }

    void CollapseNavMenu()
    {
        isNavMenuCollapsed = true;
    }
}
}

