
<div class="floating-button-wrapper">
    <a class="btn-floating btn-lg btn-flat floating-buttom-element floating-button-element-positioning" href="fetchdata">
        <i class="fas fa-gamepad main-color clickable-3" 
           @onmouseover="TogglePlayPrompt" @onmouseout="TogglePlayPrompt" 
           style="font-size: calc(3vh + 2vw)"></i>
    </a>

    <div class="floating-buttom-element floating-button-element-positioning stylized-text" 
         style=@(GetPromptVisibilityStatus())>Play</div>
</div>


@code   {

    bool isPlayPromptActive = false;

    string promptVisible = "opacity:1";
    string promptNotVisible = "opacity:0";


    void TogglePlayPrompt()
    {
        isPlayPromptActive = !isPlayPromptActive;
    }

    string GetPromptVisibilityStatus()
    {
        //Add animations on toggle
        return isPlayPromptActive ? promptVisible : promptNotVisible;
    }
}