
<div class="floating-button-wrapper">
    <a class="btn-floating btn-lg btn-flat" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-gamepad main-color clickable-3" style="font-size: calc(3vh + 2vw)"></i>
    </a>

    <div class="dropdown-menu secondary-background-color">
        <!-- Dropdown menu links -->
        <span class="dropdown-item-text secondary-color">Coming soon:</span>
        <div class="dropdown-divider"></div>
        <span class="dropdown-item-text secondary-color" style="min-width:310px">Blazor-powered Browser games!</span>
    </div>
</div>


@code   {

}