@inject IJsRuntimeService jsRuntimeService

<pre>
<code @ref="codeBlockElement" class="language-@(this.SourceCode.Language)">
@((MarkupString)(this.SourceCode.Code))
</code>
</pre>
<div class="@(textAlignmentClass) highlighted-main-color mt-2">@SourceCode.Caption</div>

@code {
    [Parameter]
    public ContentSourceCodeInfoModel SourceCode { get; set; }

    private ElementReference codeBlockElement;
    private string textAlignmentClass;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await this.jsRuntimeService.HighlightCodeAsync(codeBlockElement);
        this.textAlignmentClass = this.SourceCode?.HorizontalTextAlignment.ToCss();
    }
}
