<h3>ExtraContent - @(Type.ToString())</h3>

@code {
	[Parameter]
	public ExtraContentType Type { get; set; }

	// TODO:
	// private static RenderFragment GetExtraContent(ExtraContentType extraContentType)
	// {
	// 	switch (extraContentType)
	// 	{
	// 		case: ExtraContentType.GameDemo:
	// 		case: ExtraContentType.WebDevelopmentDemo:
	// 		case: ExtraContentType.MSOfficeAutomationDemo:
	// 		default:
	// 	}
	// }
}
