@inject IArticleStore _articleStore;

@* TODO: loadable page should be a generic thing and show any child content *@

@if (Page == null)
{
    <div class="empty-block"></div>
    <Loader></Loader>
}
else
{
    @if (Page.Introduction != null)
    {
        <ContentCard Content="@Page.Introduction" />
    }
  
    @if (Page.SectionGroup != null)
    {
        <SectionGroup SectionGroupInfo="@Page.SectionGroup" />
    }
}

@code {
    [Parameter]
    public PageInfoModel Page { get; set; }
}
