@inject IArticleStore _articleStore;

@if (Page == null)
{
    <div class="empty-block"></div>
    <Loader></Loader>
}
else
{
    @* TODO: allow animation selection by title/body *@
    <ViewportAnimatable AnimationName="vp-anim-3">
        <ContentExcerpt Excerpt="@Page.Introduction" />
    </ViewportAnimatable>

	<SectionGroup SectionGroupInfo="@Page.SectionGroup" />
}

@code {
    [Parameter]
    public PageInfoModel Page { get; set; }
}
