<div class="row my-4 align-items-center">

    <div class="col-md-6 @MainOrderClasses d-flex justify-content-center mb-5">
        @* TODO: allow animations to also be customizable *@
        <ViewportAnimatable AnimationName="vp-anim-4">
            <ContentCard Content="@Section.MainContent" />
        </ViewportAnimatable>
    </div>

    <div class="col-md-6 @ExtraOrderClasses d-flex justify-content-center mb-5">
        <ViewportAnimatable AnimationName="vp-anim-5">
            <ContentCard Content="@Section.ExtraContent" />
        </ViewportAnimatable>
    </div>

</div>

<div class="empty-block"></div>

@code {
    [Parameter]
    public SectionInfoModel Section { get; set; }

    private string MainOrderClasses => $"order-{MainOrderSmall} order-md-{MainOrderLarge}";

    private string ExtraOrderClasses => $"order-{ExtraOrderSmall} order-md-{ExtraOrderLarge}";

    private int MainOrderSmall;
    private int MainOrderLarge;
    private int ExtraOrderSmall;
    private int ExtraOrderLarge;

    protected override void OnParametersSet()
    {
        MainOrderSmall = 1;
        MainOrderLarge = 1;
        ExtraOrderSmall = 2;
        ExtraOrderLarge = 2;

        switch (Section.ContentPositioning)
        {
            case ContentPositioning.ExtraContentFirst:
                MainOrderSmall = 2;
                ExtraOrderSmall = 1;
                MainOrderLarge = 2;
                ExtraOrderLarge = 1;
                break;

            case ContentPositioning.ExtraContentFirstOnLargeScreens:
                MainOrderSmall = 1;
                ExtraOrderSmall = 2;
                MainOrderLarge = 2;
                ExtraOrderLarge = 1;
                break;
        }
    }
}
