<div class="row my-4 align-items-center">

    @if (Section.ShouldShowMainContentFirst)
    {
        @* TODO: refactor divs into components *@
        @* TODO: normallize placement of vp-anim- *@
        <div class="col-md-6 order-md-1 order-1 d-flex justify-content-center mb-5">
            <ContentCard Content="@Section.MainContent" />
        </div>

        <div class="col-md-6 order-md-2 order-2 d-md-flex justify-content-center">
            <div class="text-center vp-anim-5">
                <ContentCard Content="@Section.ExtraContent" />
            </div>
        </div>
    }
    else
    {
        <div class="col-md-6 order-md-1 order-2 d-md-flex justify-content-center">
            <div class="text-center vp-anim-5">
                <ContentCard Content="@Section.ExtraContent" />
            </div>
        </div>

        <div class="col-md-6 order-md-2 order-1 d-flex justify-content-center mb-5">
            <ContentCard Content="@Section.MainContent" />
        </div>
    }
</div>
<div class="empty-block"></div>

@code {
    [Parameter]
    public SectionInfoModel Section { get; set; }
}
