<p class="main-color @(GetAlignmentClass())">
	@((MarkupString)GetParsedContent())
</p>

@code {
	[Parameter]
	public string Content { get; set; }

	[Parameter]
	public HorizontalTextAlignment HorizontalTextAlignment { get; set; }

	// TODO: improve
	private string GetParsedContent()
	{
		return Content.Replace("<*", "<span class=\"stand-out-text\">")
				      .Replace("*>", "</span>");
	}

	private string GetAlignmentClass()
	{
		return HorizontalTextAlignment switch
		{
			HorizontalTextAlignment.Left => "text-left",
			HorizontalTextAlignment.Center => "text-center",
			HorizontalTextAlignment.Right => "text-right",
			_ => "text-left",
		};
	}
}
