@page "/contactme"

@inject IJSRuntime JSRuntime;
@inject IJavascriptViewportAnimator JSAnimator;

<h3 class="white-text">Contact Me</h3>



@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSAnimator.SetupJavascriptViewportAnimation(JSRuntime);
        }
    }
}