@page "/contactme"

@inject IConfiguration config

<div>
    <h2 class="white-text d-flex justify-content-center mb-5 vp-anim-3">Contact Me</h2>
</div>

<div class="d-flex justify-content-center vp-anim-4">

    <div style="position: relative">
        <i class="fas fa-clipboard main-color" style="font-size: 30em"></i>

        <div class="container-fluid text-center vp-anim-5" style="position: absolute; top: 40%;">
            <p style="font-size: 1.1em">Email:</p>
            <a href="mailto:@(email)">
                <i class="fas fa-at secondary-color clickable-1" style="font-size: 3em;"></i>
            </a>
        </div>
        <div class="container-fluid text-center vp-anim-5" style="position: absolute; top: 65%;">
            <p style="font-size: 1.1em">GitHub:</p>
            <a href="@(githubLink)" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-github secondary-color clickable-1" style="font-size: 3em;"></i>
            </a>
        </div>
    </div>

</div>

@code {

    private string email;
    private string githubLink;

    protected override void OnParametersSet()
    {
        email = config["email"];
        githubLink = config["githubLink"];
    }
}