@page "/contactme"

<div>
    <h2 class="white-text d-flex justify-content-center vp-anim-3">Contact Me</h2>
</div>

<div>
    <!-- INSERIR AQUI UM FORM DE PREENCHIMENTO PARA ENVIAR MENSAGEM -->
</div>
