@page "/contactme"

<div>
    <h2 class="white-text d-flex justify-content-center vp-anim-3">Contact Me</h2>
</div>

<div class="d-flex justify-content-center">
    <SendEmailForm></SendEmailForm>
</div>