@page "/"

<div class="mb-4">
    <h2 class="main-billboard white-text text-left">{</h2>
    <h1 class="main-billboard main-color text-center">//Code made with passion.</h1>
    <h2 class="main-billboard white-text text-left">}</h2>
</div>
<div class="container">
    <h2 class="white-text text-center mb-4">A personal coding journey.</h2>
    <h6 class="main-color text-center">
        This website is a personal page where I showcase my passion projects and all the things I do related to programming.
    </h6>
    <h6 class="main-color text-center">
        Join me in this adventure!
    </h6>
</div>