@page "/"

<div class="row hide-horizontal-scroll">
    <div class="col-1 vp-anim-2">
        <div>
            <h2 class="main-billboard white-text text-left bottom-margin-large">{</h2>
        </div>
        <div>
            <h2 class="main-billboard white-text text-left top-margin-large">}</h2>
        </div>
    </div>
    <div class="col-11 d-flex align-items-center justify-content-center">
        <div>
            <h1 class="main-billboard main-color text-center vp-anim-2">//Code made with passion.<span class="white-text loop-opacity">_</span></h1>
        </div>
    </div>
</div>

<div class="empty-block"></div>

<div class="container">
    <h2 class="white-text text-center mb-5 vp-anim-5">A personal coding journey.</h2>
    <div class="container vp-anim-5">
        <h6 class="main-color text-center">
            This website is a personal page where I showcase my passion projects and all the things I do related to programming.
        </h6>
        <h6 class="main-color text-center">
            Join me in this adventure!
        </h6>
    </div>
</div>


@code {

}