@inject IPortfolioDataService portfolioDataService;
@inject ITextParserService textParserService;

@if(this.NavigationMenu is null)
{
    return;
}

<nav class="navbar main-background-color navbar-expand-md fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand main-color clickable-1 scale-up vp-anim-1" href="" @onclick="() => { CollapseNavMenu(); }">
          @title
        </a>

        <button class="navbar-toggler main-outline border-0 fade-in-with-right-translate" @onclick="ToggleNavMenu" type="button">
            <span class="@NavMenuIcon infinite-zoom-in-out main-color"></span>
        </button>

        <div class="flex-md-row-reverse fullscreen-menu fullscreen-menu-vertical @(NavMenuVisibility)" id="main-navbar">
            <ul class="navbar-nav fullscreen-menu-content" id="main-navbar-content">
                @foreach (var navElement in this.NavigationMenu?.NavigationLinks)
                {
                    <li class="nav-item vp-anim-3 mx-2">
                        <NavLink href="@navElement.PageRef"
                                 class="nav-link main-color clickable-2 selectable-item"
                                 activeClass="highlighted-main-color"
                                 @onclick="CollapseNavMenu">
                            @navElement.Label
                        </NavLink>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>

@code {
    private MarkupString title;
    private bool isNavMenuCollapsed { get; set; } = true;
    private string NavMenuVisibility => isNavMenuCollapsed ? "" : "wipe-down";
    private string NavMenuIcon => isNavMenuCollapsed ? this.NavigationMenu?.CollapsedMenuIcon : this.NavigationMenu?.OpenMenuIcon;

    private NavigationMenuInfoModel NavigationMenu;

    protected async override Task OnInitializedAsync()
    {
        this.NavigationMenu = await portfolioDataService.GetNavigationMenuAsync();
        this.title = textParserService.Parse(this.NavigationMenu?.Title);
    }

    void ToggleNavMenu()
    {
        isNavMenuCollapsed = !isNavMenuCollapsed;
    }

    void CollapseNavMenu()
    {
        isNavMenuCollapsed = true;
    }
}

